*{padding:0px; margin:0px;}
.cisti{clear:both;}

body{background-color:#fdfdfd;}
/*---------------------------------------BEGIN OF HEADER---------------------------------------------*/
#header{
	width:100%;
	height:70px;
	background-color:#4F4F4F;
}
#container{
	max-width:960px;
	margin:0px auto; 
}
#logo{	 
	width:200px;
	height:70px;
	float:left;
	color:#c9c9c9;
	font-family:Arial;
	text-align:center;
	margin:20px auto;
	
}
#logo a{
	text-decoration:none;
	color:#efefef;
}
#logo a:hover{
	color:#efefef;
}
#login{	 
	width:600px;
	height:70px;
	float:right; 
	margin:20px auto;
}
#registerforma{
	width:87px;float:left;
	
}
#loginforma{
	width:360px;
	float:left;
}
#btnLogin{
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:70px;
	text-align:center; 
	border:none;
	border-radius:3px;
}
#btnLogin:hover{
	background-color:#e64b21;
}
#btnRegister:hover{
	background-color:#e64b21;
}
#btnRegister{
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:80px;
	text-align:center; 
	border:none;
	border-radius:3px; 
}
#tbUsername{
	border-radius:3px;
	box-shadow:none;
	width:125px;
	height:23px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
#tbUsername:focus{
    outline-color:#48c9b0;
}
#tbPassword:focus{
    outline-color:#48c9b0;
}
#tbPassword{
	border-radius:3px;
	box-shadow:none;
	width:135px;
	height:23px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
/*---------------------------------------END OF HEADER---------------------------------------------*/

/*---------------------------------------BEGIN OF FOOTER---------------------------------------------*/
#footer
{
    width:100%;
    height:120px;
    margin-top:700px;
}


#gore
{
    width:100%;
    height:50px;
    background-color: #2f2f31;
    color:#c9c9c9;
    font-family: Arial; 
	-moz-box-shadow:    inset  0  5px 5px -5px #696868, 
                        inset  0 -5px 5px -5px #696868;
    -webkit-box-shadow: inset  0  5px 5px -5px #696868, 
                        inset  0 -5px 5px -5px #696868;
     box-shadow:        inset  0  5px 5px -5px #696868, 
                        inset  0 -5px 5px -5px #696868;
}

#gore2
{
    width:960px;
	margin:0px auto;
}

#gore2 h3
{
    margin-top: 15px;
    width:100px;
    float:left;
	height:20px;
}

#gore2 p
{
	width:140px;
	font-size:11px; 
	height:15px;
}

#meni_footer
{
    float:right;
	margin-top:-30px;
}

#meni_footer ul li
{
    display:inline-block;
}

#meni_footer ul li a
{
    text-decoration:none; 
	display:block;
    color:#c9c9c9;
	font-weight:bold;
}
#meni_footer ul li a:hover
{ 
    color:#48c9b0;
}

#dole2 a
{
	text-decoration:none;
	color:#c9c9c9; 
}

#dole2 a:hover
{ 
	color:#48c9b0; 
}

#dole
{
    width:100%;
    height:70px;
    background-color: #242424;
    font-family: Arial;
}

#dole2
{
    width:960px;
    text-align:center;
    padding-top:25px;
	margin:0px auto;
}

#dole2  p
{
    color:#c9c9c9; 
}

#dole3 a
{
	text-decoration:none; 
	color:#c9c9c9; 
}

#dole3 a:hover
{
    color:#48c9b0;
}

#mreze
{
    float:right;
    
}
/*---------------------------------------END OF FOOTER---------------------------------------------*/

/*---------------------------------------BEGIN OF REGISTER.PHP---------------------------------------------*/
#registerpage{
	width:340px;
	height:230px;
	margin:0px auto;
	text-align:center; /*background-color:blue;*/
}
#registerpage h2{
	text-align:center;
	font-family:Arial;
	color:#4F4F4F;
}
#tbUsername2{
	border-radius:5px;
	box-shadow:none;
	width:250px;
	height:40px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
#tbUsername2:focus{
    outline-color:#48c9b0;
}
#tbPassword2:focus{
    outline-color:#48c9b0;
}#tbEmail:focus{
    outline-color:#48c9b0;
}
#tbPassword2{
	border-radius:5px;
	box-shadow:none;
	width:250px;
	height:35px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
#tbEmail2{
	border-radius:5px;
	box-shadow:none;
	width:250px;
	height:35px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
#btnRegister2{
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:80px;
	text-align:center; 
	border:none;
	border-radius:3px; 
}
#btnRegister2:hover{
	background-color:#e64b21;
}
#erori{ 
	font-family:Arial;
	color:#a94442;
	margin:0px auto;
	font-size:15px;
	text-align:center;
	background-color: #f2dede;
    border-color: #ebccd1;
	padding:3px;
	border-radius:5px;

}
#uspesno{
	color:#3c763d;
	background-color:#dff0d8;
	border-color:#d6e9c6
}
#neuspesno{
	color:#a94442;
	font-family:Arial;
}
#uspesno{
	color:#3c763d;
	background-color:#dff0d8;
	border-color:#d6e9c6; 
	font-family:Arial; 
	margin:0px auto;
	font-size:15px;
	text-align:center; 
	padding:5px;
	border-radius:5px;

}
/*---------------------------------------END OF REGISTER.PHP---------------------------------------------*/
