*{padding:0px; margin:0px;}
.cisti{clear:both;}

body{
	background-color:#fdfdfd;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
}
 
/*---------------------------------------BEGIN OF HEADER---------------------------------------------*/
#header{
	width:100%;
	height:70px;
	background-color:#4F4F4F;
}
#container{
	max-width:960px;
	margin:0px auto; 
}
#logo{	 
	width:200px;
	height:20px;
	float:left;
	color:#c9c9c9;
	font-family:Arial;
	text-align:center;
	margin:20px auto;
}
#logo a{
	text-decoration:none;
	color:#efefef;
}
#logo a:hover{
	color:#efefef;
}
#login{	 
	width:447px; 
	height:20px;
	float:right; 
	margin:20px auto;
}
#registerforma{
	width:87px;
	float:left;
}
#loginforma{
	width:360px;
	float:left;
}
#btnLogin{
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:70px;
	text-align:center; 
	border:none;
	border-radius:3px;
	box-shadow: inset 0 1px 0 #91decf;
}
#btnLogin:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
	outline-color:#48c9b0;
}
#btnRegister:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
	outline-color:#48c9b0;
}
#btnRegister{
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:80px;
	text-align:center; 
	border:none;
	border-radius:3px; 
	box-shadow: inset 0 1px 0 #91decf;
}
#tbUsername{
	border-radius:3px;
	box-shadow:none;
	width:125px;
	height:23px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
#tbUsername:focus{
    outline-color:#48c9b0;
}
#tbPassword:focus{
    outline-color:#48c9b0;
}
#tbPassword{
	border-radius:3px;
	box-shadow:none;
	width:135px;
	height:23px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
/*---------------------------------------END OF HEADER---------------------------------------------*/

/*---------------------------------------BEGIN OF FOOTER---------------------------------------------*/
#footer{
    width:100%;
    height:120px; 
	margin-top:60px;
}


#gore{
    width:100%;
    height:50px;
    background-color: #2f2f31;
    color:#c9c9c9;
    font-family: Arial; 
	-moz-box-shadow:    inset  0  5px 5px -5px #696868, 
                        inset  0 -5px 5px -5px #696868;
    -webkit-box-shadow: inset  0  5px 5px -5px #696868, 
                        inset  0 -5px 5px -5px #696868;
     box-shadow:        inset  0  5px 5px -5px #696868, 
                        inset  0 -5px 5px -5px #696868;
}

#gore2{
    width:960px;
	margin:0px auto;
}

#gore2 h3{
    margin-top: 15px;
    width:100px;
    float:left;
	height:20px;
}

#gore2 p{
	width:140px;
	font-size:11px; 
	height:15px;
}

#meni_footer{
    float:right;
	margin-top:-30px;
}

#meni_footer ul li{
    display:inline-block;
}

#meni_footer ul li a{
    text-decoration:none; 
	display:block;
    color:#c9c9c9;
	font-weight:bold;
}
#meni_footer ul li a:hover{ 
    color:#48c9b0;
}

#dole2 a{
	text-decoration:none;
	color:#c9c9c9; 
}

#dole2 a:hover{ 
	color:#48c9b0; 
}

#dole{
    width:100%;
    height:70px;
    background-color: #242424;
    font-family: Arial;
}

#dole2{
    width:960px;
    text-align:center;
    padding-top:25px;
	margin:0px auto;
}

#dole2  p{
    color:#c9c9c9; 
}

#dole3 a{
	text-decoration:none; 
	color:#c9c9c9; 
}

#dole3 a:hover{
    color:#48c9b0;
}

#mreze{
    float:right;
    
}
/*---------------------------------------END OF FOOTER---------------------------------------------*/

/*---------------------------------------BEGIN OF REGISTER.PHP---------------------------------------------*/
#registerpage{
	width:340px;
	min-height:451px; 
	margin:0px auto;
	text-align:center;  
}
#registerpage h2{
	text-align:center;
	font-family:Arial;
	color:#4F4F4F;
}
#tbUsername2{
	border-radius:5px;
	box-shadow:none;
	width:250px;
	height:40px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
#tbUsername2:focus{
    outline-color:#48c9b0;
}
#tbPassword2:focus{
    outline-color:#48c9b0;
}
#tbEmail:focus{
    outline-color:#48c9b0;
}
#tbPassword2{
	border-radius:5px;
	box-shadow:none;
	width:250px;
	height:35px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
#tbEmail2{
	border-radius:5px;
	box-shadow:none;
	width:250px;
	height:35px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
#btnRegister2{
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:80px;
	text-align:center; 
	border:none;
	border-radius:3px; 
}
#btnRegister2:hover{
	background-color:#e64b21;
}
#erori{ 
	font-family:Arial;
	color:#a94442;
	margin:0px auto;
	font-size:15px;
	text-align:center;
	background-color: #f2dede;
    border-color: #ebccd1;
	padding:3px;
	border-radius:5px;

}
#uspesno{
	color:#3c763d;
	background-color:#dff0d8;
	border-color:#d6e9c6
}
#neuspesno{
	color:#a94442;
	font-family:Arial;
}
#uspesno{
	color:#3c763d;
	background-color:#dff0d8;
	border-color:#d6e9c6; 
	font-family:Arial; 
	margin:0px auto;
	font-size:15px;
	text-align:center; 
	padding:5px;
	border-radius:5px;

}
/*---------------------------------------END OF REGISTER.PHP---------------------------------------------*/

/*---------------------------------------START OF CONTENT.PHP---------------------------------------------*/
#wrapper{
	width:960px;
	min-height:550px;
	margin:0px auto;
}
#sadrzaj{
	float:left;
	width:735px;
	min-height:400px; 
}
#desno{
	float:left;
	width:225px;
	min-height:400px; 
}
.sadrzaj_paket{
	margin: 10px;
	border-top: 1px solid #e6e6e6;
	padding-top: 10px;
	width: 700px; 
	float:left;
}
.paket_levo{ 
	float:left;
	margin-top:10px; 
}
.paket_levo_glasovi{
	width:35px;
	float: left;
	text-align: center;
	margin-right: 5px;
	color:#9199a1;
}
.paket_desno{
	width:576px; 
	float:left;
}
.paket_levo_glasovi_tekst{
	font-size:10px;
}
.paket_desno_naslov{
	padding: 5px;
	color:#3af;
	margin-bottom: 8px;
}
.paket_desno_naslov a{
	text-decoration:none;
	color:#3af;
}
.paket_desno_tagovi{
	margin-left:5px;
	float: left;
	margin-bottom: 6px;
}
.paket_desno_tagovi_tag{
	background-color:#cee0ed;
	padding: 2px 7px;
    font-size: 13px;
	color:#07c;
}
.paket_desno_opis{
	float:right;
	font-size: 13px;
	color:#9199a1;
	min-width: 250px;
    text-align: right; 
}
.paket_desno_opis_user{
	color:#3af;
}



.paket_desno_pnaslov{
	margin: 10px;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px 0px 10px 0px; 
	width: 700px;
}
.paket_desno_description{
	margin: 10px;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px 0px 10px 0px; 
	width: 650px;
	min-height:100px;
}
.paket_desno_votes{
	width: 50px;
	float:left;
	text-align:center;
	font-size:30px;
	font-weight:bold; 
} 
.paket_desno_votes a{
	text-decoration:none;
	color:#CCC;
} 






#tbTitle:focus{
    outline-color:#48c9b0;
}
#tbTitle{
	margin:10px 0px 7px 10px;
	border-radius:5px; 
	width:700px;
	height:35px;  
	padding-left:5px;
    border: 1px solid #e6e6e6;
    background: none;
    border-color: #e6e6e6 !important;	
}
#taComment:focus{
    outline-color:#48c9b0;
}
#taComment{
	resize:none;
	margin: 0px 0px -7px 10px;
	border: 1px solid #e6e6e6;
    background: none;
    border-color: #e6e6e6 !important;
	border-radius:5px; 
}
#taPost:focus{
    outline-color:#48c9b0;
}
#taPost{
	resize:none;
	margin: 0px 0px -7px 10px;
	border: 1px solid #e6e6e6;
    background: none;
    border-color: #e6e6e6 !important;
	border-radius:5px; 
}


#tbTags:focus{
    outline-color:#48c9b0;
}
#tbTags{
	margin:10px 0px 7px 10px;
	border-radius:5px; 
	width:700px;
	height:30px;  
	padding-left:5px;
    border: 1px solid #e6e6e6;
    background: none;
    border-color: #e6e6e6 !important;	
}
#btnPost{
	margin:0px 0px 0px 10px;
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:80px;
	text-align:center; 
	border:none;
	border-radius:3px; 
	box-shadow: inset 0 1px 0 #91decf;
}
#btnPost:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
	outline-color:#48c9b0;
}
#btnClose{
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:80px;
	text-align:center; 
	border:none;
	border-radius:3px; 
	box-shadow: inset 0 1px 0 #91decf;
}
#btnClose:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
	outline-color:#48c9b0;
}
/*---------------------------------------END OF CONTENT.PHP---------------------------------------------*/

/*---------------------------------------START OF MENU.PHP---------------------------------------------*/
#navmenu{
	width:500px;
	height:42px;
}
#mainmenu{
	width:960px;
	height:42px;
	margin:0px auto;
} 
#mainmenu ul li{
    display:inline-block;
}
#mainmenu ul li a{
    text-decoration:none;  
    color:#3b3b3b; 
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:600;
	text-transform:uppercase;
}
#navmenu .active{
	border-top:5px solid #48c9b0;
	padding:9px 18px 7px 18px;
	background-color:#fdfdfd;
}
#navmenu .active:hover{ 
	border-top:5px solid #e64b21 !important;
}
#mainmenuwrapper{
	width:100%;
	height:42px;
	background-color:#f2f2f2; 
}
#number{ 
	font-size:10.5px;
	color:#e64b21; 
}
/*---------------------------------------END OF MENU.PHP---------------------------------------------*/

/*---------------------------------------START OF WIDGET.PHP---------------------------------------------*/
#desnocontent{
	width:215px;
	height:100%;
	margin:0px auto;
}
#statistika{
	background-color:#f2f2f2;
	border-radius:5px;  
}
#desnocontent:first-child p{
	border-bottom:1px solid #e6e6e6;
	margin:15px 0px 10px 0px;
	padding-bottom:5px;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#636267;
}
.tridela{
	padding:10px 0px 5px 10px;
	height:34px;
	border-bottom:1px solid #e6e6e6;
}
.brojevi{
	color: #7b7b7b;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}
.spanovi{
	 color: #7b7b7b;
    text-transform: uppercase;
    font-size: 14px;
}
/*---------------------------------------END OF WIDGET.PHP---------------------------------------------*/
#sakriven{
	color:red;
	width:80px;
	height:40px;
	background-color:green;
	text-align:center;
	float:left
}
#nekiid{
	color:red;
	width:80px;
	height:40px;
	background-color:blue;
	text-align:center;
	float:left
}
#tbKlik{
	width: 700px;
    border: 1px solid #e6e6e6;
    height: 20px;
    border-radius: 3px;
    cursor: text; 
    color: #bdc3c7; 
    padding: 10px;
    margin-top:-11px;
}
#dodatak2{
	margin-top:-12px;
}

#btnReply{
	margin:0px 0px 0px 10px;
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:80px;
	text-align:center; 
	border:none;
	border-radius:3px; 
	box-shadow: inset 0 1px 0 #91decf;
}
#btnReply:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
	outline-color:#48c9b0;
}







