*{padding:0px; margin:0px;}
@font-face { font-family: gotham_blackregular; src: url('ufonts.com_gotham-black.ttf');} 
.cisti{clear:both;}

body{
	background-color:#fdfdfd;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
}
 
/*---------------------------------------BEGIN OF HEADER---------------------------------------------*/
#header{
	width:100%;
	height:70px;
	background-color:#4F4F4F;
}
#container{
	max-width:960px;
	margin:0px auto; 
}
#logo{	 
	width:200px;
	height:20px;
	float:left;
	color:#c9c9c9;
	font-family:Arial;
	text-align:center;
	margin:20px auto;
}
#logo a{
	text-decoration:none;
	color:#efefef;
}
#logo a:hover{
	color:#efefef;
}
#login{	 
	width:447px; 
	height:20px;
	float:right; 
	margin:20px auto; 
	text-align:right;
}
#registerforma{
	width:87px;
	float:left;
}
#loginforma{
	width:360px;
	float:left;
}
#btnLogin{
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:70px;
	text-align:center; 
	border:none;
	border-radius:3px;
	box-shadow: inset 0 1px 0 #91decf;
}
#btnLogin:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
	outline-color:#48c9b0;
}
#btnRegister:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
	outline-color:#48c9b0;
}
#btnRegister{
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:80px;
	text-align:center; 
	border:none;
	border-radius:3px; 
	box-shadow: inset 0 1px 0 #91decf;
}
#tbUsername{
	border-radius:3px;
	box-shadow:none;
	width:125px;
	height:23px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
#tbUsername:focus{
    outline-color:#48c9b0;
}
#tbPassword:focus{
    outline-color:#48c9b0;
}
#tbPassword{
	border-radius:3px;
	box-shadow:none;
	width:135px;
	height:23px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
/*---------------------------------------END OF HEADER---------------------------------------------*/

/*---------------------------------------BEGIN OF FOOTER---------------------------------------------*/
#footer{
    width:100%;
    height:120px; 
	margin-top:60px;
}


#gore{
    width:100%;
    height:50px;
    background-color: #2f2f31;
    color:#c9c9c9;
    font-family: Arial; 
	-moz-box-shadow:    inset  0  5px 5px -5px #696868, 
                        inset  0 -5px 5px -5px #696868;
    -webkit-box-shadow: inset  0  5px 5px -5px #696868, 
                        inset  0 -5px 5px -5px #696868;
    box-shadow:        inset  0  5px 5px -5px #696868, 
                        inset  0 -5px 5px -5px #696868;
}

#gore2{
    width:960px;
	margin:0px auto;
}

#gore2 h3{
    margin-top: 15px;
    width:100px;
    float:left;
	height:20px;
}

#gore2 p{
	width:140px;
	font-size:11px; 
	height:15px;
}

#meni_footer{
    float:right;
	margin-top:-30px;
}

#meni_footer ul li{
    display:inline-block;
}

#meni_footer ul li a{
    text-decoration:none; 
	display:block;
    color:#c9c9c9;
	font-weight:bold;
}
#meni_footer ul li a:hover{ 
    color:#48c9b0;
}

#dole2 a{
	text-decoration:none;
	color:#c9c9c9; 
}

#dole2 a:hover{ 
	color:#48c9b0; 
}

#dole{
    width:100%;
    height:70px;
    background-color: #242424;
    font-family: Arial;
}

#dole2{
    width:960px;
    text-align:center;
    padding-top:25px;
	margin:0px auto;
}

#dole2  p{
    color:#c9c9c9; 
}

#dole3 a{
	text-decoration:none; 
	color:#c9c9c9; 
}

#dole3 a:hover{
    color:#48c9b0;
}

#mreze{
    float:right;
    
}
/*---------------------------------------END OF FOOTER---------------------------------------------*/

/*---------------------------------------BEGIN OF REGISTER.PHP---------------------------------------------*/
#registerpage{
	width:340px;
	min-height:451px; 
	margin:0px auto;
	text-align:center;  
}
#registerpage h2{
	text-align:center;
	font-family:Arial;
	color:#4F4F4F;
}
#tbUsername2{
	border-radius:5px;
	box-shadow:none;
	width:250px;
	height:40px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
#tbUsername2:focus{
    outline-color:#48c9b0;
}
#tbPassword2:focus, #tbPassword22:focus{
    outline-color:#48c9b0;
}
#tbPassword22:focus{
    outline-color:#48c9b0;
} 
#tbEmail:focus{
    outline-color:#48c9b0;
}
#tbPassword2, #tbPassword22{
	border-radius:5px;
	box-shadow:none;
	width:250px;
	height:35px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
#tbEmail2{
	border-radius:5px;
	box-shadow:none;
	width:250px;
	height:35px;
	border:none;
	background-color:#efefef;
	padding-left:5px;
}
#btnRegister2{
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:80px;
	text-align:center; 
	border:none;
	border-radius:3px; 
}
#btnRegister2:hover{
	background-color:#e64b21;
}
#erori{ 
	font-family:Arial;
	color:#a94442;
	margin:0px auto;
	font-size:15px;
	text-align:center;
	background-color: #f2dede;
    border-color: #ebccd1;
	padding:3px;
	border-radius:5px;

}
#uspesno{
	color:#3c763d;
	background-color:#dff0d8;
	border-color:#d6e9c6
}
#neuspesno{
	color:#a94442;
	font-family:Arial;
}
#uspesno{
	color:#3c763d;
	background-color:#dff0d8;
	border-color:#d6e9c6; 
	font-family:Arial; 
	margin:0px auto;
	font-size:15px;
	text-align:center; 
	padding:5px;
	border-radius:5px;

}
/*---------------------------------------END OF REGISTER.PHP---------------------------------------------*/

/*---------------------------------------START OF CONTENT.PHP---------------------------------------------*/
#wrapper{
	width:960px;
	min-height:550px;
	margin:0px auto;
}
#sadrzaj{
	float:left;
	width:735px;
	min-height:400px; 
}
#desno{
	float:left;
	width:225px;
	min-height:400px; 
}
.sadrzaj_paket{
	margin: 10px;
	border-top: 1px solid #e6e6e6;
	padding-top: 10px;
	width: 700px; 
	float:left; 
}
.paket_levo{ 
	float:left;
	margin-top:10px; 
}
.paket_levo_glasovi{
	width:33px;
	float: left;
	text-align: center;
	margin-right: 5px;
	color:#9199a1;
}
.paket_desno{
	width:576px; 
	float:left;
}
.paket_levo_glasovi_tekst{
	font-size:10px;
}
.paket_desno_naslov{
	padding: 5px;
	color:#3af;
	margin-bottom: 8px;
}
.paket_desno_naslov a{
	text-decoration:none;
	color:#3af;
}
.paket_desno_tagovi{
	margin-left:5px;
	float: left;
	margin-bottom: 6px;
}
.paket_desno_tagovi_tag{
	background-color:#cee0ed;
	padding: 2px 7px;
    font-size: 13px;
	color:#07c;
}
.paket_desno_opis{
	float:right;
	font-size: 13px;
	color:#9199a1;
	min-width: 250px;
    text-align: right; 
}
.paket_desno_opis_user{
	color:#3af;
	text-decoration:none;
}
.paket_desno_opis_user a{ 
	text-decoration:none;
	color:#3af;
}


.paket_desno_pnaslov{
	margin: 10px;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px 0px 10px 0px; 
	width: 700px;
}
.paket_desno_description{
	margin: 10px;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px 0px 10px 0px; 
	width: 650px;
	min-height:100px;
}
.paket_desno_votes{
	width: 50px;
	float:left;
	text-align:center;
	font-size:30px;
	font-weight:bold; 
} 
.paket_desno_votes a{
	text-decoration:none;
	color:#CCC;
} 






#tbTitle:focus{
    outline-color:#48c9b0;
}
#tbTitle{
	margin:10px 0px 7px 10px;
	border-radius:5px; 
	width:700px;
	height:35px;  
	padding-left:5px;
    border: 1px solid #e6e6e6;
    background: none; 	
}
#taComment:focus{
    outline-color:#48c9b0;
}
#taComment{
	resize:none;
	margin: 0px 0px -7px 10px;
	border: 1px solid #e6e6e6;
    background: none;
   /* border-color: #e6e6e6 !important;*/
	border-radius:5px; 
}
#taPost:focus{
    outline-color:#48c9b0;
}
#taPost{
	resize:none;
	margin: 0px 0px -7px 10px;
	border: 1px solid #e6e6e6;
    background: none; 
	border-radius:5px; 
}


#tbTags:focus{
    outline-color:#48c9b0;
}
#tbTags{
	margin:10px 0px 7px 10px;
	border-radius:5px; 
	width:700px;
	height:30px;  
	padding-left:5px;
    border: 1px solid #e6e6e6;
    background: none; 
}
#btnPost{
	margin:0px 0px 0px 10px;
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:80px;
	text-align:center; 
	border:none;
	border-radius:3px; 
	box-shadow: inset 0 1px 0 #91decf;
}
#btnPost:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
	outline-color:#48c9b0;
}
#btnClose{
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:80px;
	text-align:center; 
	border:none;
	border-radius:3px; 
	box-shadow: inset 0 1px 0 #91decf;
}
#btnClose:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
	outline-color:#48c9b0;
}
/*---------------------------------------END OF CONTENT.PHP---------------------------------------------*/

/*---------------------------------------START OF MENU.PHP---------------------------------------------*/
#navmenu{
	width:500px;
	height:42px;
}
#mainmenu{
	width:960px;
	height:42px;
	margin:0px auto;
} 
.minuspad{
    margin-top: -0.5px !important;
}
#mainmenu ul li{
    display:inline-block;
	margin-top:10px;
}
#taEditPass{
	width:273px !important;
}
#mainmenu ul li a{
    text-decoration:none;  
    color:#3b3b3b; 
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:600;
	text-transform:uppercase;
	margin-right:20px;
}
#navmenu .active{
	border-top:5px solid #48c9b0;
	padding:9px 18px 7px 18px;
	background-color:#fdfdfd;
}
#navmenu .active:hover{ 
	border-top:5px solid #e64b21 !important;
}
#mainmenuwrapper{
	width:100%;
	height:42px;
	background-color:#f2f2f2; 
}
#number{ 
	font-size:10.5px;
	color:#e64b21; 
}
/*---------------------------------------END OF MENU.PHP---------------------------------------------*/

/*---------------------------------------START OF WIDGET.PHP---------------------------------------------*/
#desnocontent{
	width:215px;
	height:100%;
	margin:0px auto;
}
#statistika{
	background-color:#f2f2f2;
	border-radius:5px;  
}
#statistika{
	background-color:#f2f2f2;
	border-radius:5px;  
}
#desnocontent:first-child p{
	border-bottom:1px solid #e6e6e6;
	margin:15px 0px 10px 0px;
	padding-bottom:5px;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#636267;
}
.tridela{
	padding:10px 0px 5px 10px;
	height:34px;
	border-bottom:1px solid #e6e6e6;
}
.brojevi{
	color: #7b7b7b;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}
.spanovi{
	 color: #7b7b7b;
    text-transform: uppercase;
    font-size: 14px;
}
/*---------------------------------------END OF WIDGET.PHP---------------------------------------------*/
#sakriven{
	color:red;
	width:80px;
	height:40px;
	background-color:green;
	text-align:center;
	float:left
}
#nekiid{
	color:red;
	width:80px;
	height:40px;
	background-color:blue;
	text-align:center;
	float:left
}
#tbKlik{
	width: 700px;
    border: 1px solid #e6e6e6;
    height: 20px;
    border-radius: 3px;
    cursor: text; 
    color: #bdc3c7; 
    padding: 10px;
    margin-top:-11px;
}
#dodatak2{
	margin-top:-12px;
}

#btnReply{
	margin:0px 0px 0px 10px;
	background-color:#48c9b0;
	color:#efefef;
	height:28px;
	width:80px;
	text-align:center; 
	border:none;
	border-radius:3px; 
	box-shadow: inset 0 1px 0 #91decf;
}
#btnReply:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
	outline-color:#48c9b0;
}
/*usermenu----------------------------*/
#usermenu{ 
	color:red;
	width:20px;
	height:10px;
	border-left: 1px solid #424242;
	
}
#usermenu a{
	text-decoration:none;
	color:#CCC;
}
#usermenu a:hover{
	text-decoration:none;
	color:#fff;
} 
.dropdown-profile {
    width: 50px;
    height: 50px; 
    z-index: 9999;  
}





 
 
#nav{
	width:440px;
	//position:absolute;   
	height:60px;
	top:7px;
	z-index:5; 
	margin-top:-13px;
}
#nav ul { 
	min-width: 70px;
	height: 58px;
	list-style: none;
	text-align: center; 
	float:right;
	border-left: 1px solid #2c2e2e;
}
#nav #firstavatar{
	margin-right:20px;  
	border: 1px solid #7b7b7b;
}
#nav ul li{  
	height:40px;
	min-width: 70px;  
}
 
#username_menu{
	height: 22px;
	min-width: 58px;
	color: #a5a9ac;
	display: block; 
	text-decoration: none; 
	font-size:15px;    
	padding-top:40px;  
	padding-left:12px;  
}
.profile_logout {
	color: #a5a9ac;
	text-decoration:none; 
}
#nav li ul { 
	display:none;
	position: absolute;
	min-width: 162px;
	height:79px;
	background-color:#F2F2F2; 
	border:1px solid #4F4F4F;
}
#nav li ul a{
	background-color:#F2F2F2;
	width:120px;
	height:5px; 
	text-align:center;
}
#nav #sub2 ul {	 
	width: 140px; 
	height:88px;
	background-color:#F2F2F2; 
}
#nav #sub2 ul li a{	
	background-color:#CCC;
	width:140px;
	height:5px; 
}
#nav #sub2 ul li a:hover{	
	color:Red;
}




#komentari{
	margin: 10px;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0px 10px 0px;
    width: 650px;
    min-height: 100px;
}
#komentari_komentar{
	width: 600px;
    min-height: 72px;
	background-color: #eff0f1;
	margin-left:40px;
	padding:5px;
}
#komentari_edit{
	float:left;
	width:100px;
	height:25px;
	text-align:left;
	font-size: 13px;
    color: #9199a1;
	margin-left: 40px;
}
#komentari_info{
	float:left;
	width:510px;
	height:20px;
	text-align:right;
    font-size: 13px;
    color: #9199a1;
	margin-top:-13px;
}
#komentari_info a{
	text-decoration:none;
}
#komentari_komentarisi{
	width:610px;
	min-height:25px; 
	text-align:left;
	font-size: 13px;
	margin-left: 40px;
    color: #9199a1; 
}
#komentari_levi{
	vertical-align: top;
    margin-right: 15px;
	font-size:30px;
	min-height: 100px;
	width:40px; 
	float:left;
	color: #9199a1; 
} 
#sadrzaj_members{ 
	width:730px;
	height:230px; 
	margin-top:20px;
	padding-top:20px;
}
#sadrzaj_membersin{ 
	width:704px;
	height:165px; 
	margin:0px auto;  
}
#sadrzaj_membersin2{ 
	width: 712px;
    min-height: 20px;
    z-index: 10;
    margin: 0px auto;
    background: #ecf0f1;
    border-radius: 3px;
    margin-top: 49px;
    color: #7b7b7b;
    font-size: 0.85em;
    padding: 6px 0px 6px 4px;
}

#sadrzaj_membersingore{
	width:704px;
	height:82.5px;
	background-color: #f0f0f0; 
	z-index:111;
}
#sadrzaj_membersindole{
	width:704px;
	height:115px;
	background-color:#fff; 
	border-bottom:1px solid #f2f2f2;
	z-index:111;
}
#sadrzaj_members_avatar{
	margin:5px 0px 0px 10px;
	width:145px;
	height:155px;
	float:left;
	z-index:999; 
	border:1px solid #7b7b7b;;
} 
 
#sadrzaj_membersingore #secondchildp{
	font-size: 0.85em;
    color: #b3b3b3;
    display: block;
    margin-top: 3px; 
    height: 17px; 
	padding: 0px 0px 0px 190px; 
}
#sadrzaj_membersingore #firstchildp{
	color: #727272;
    font-size: 1.20em;
    font-weight: 600;
	padding: 20px 0px 0px 190px; 
}
.tagline {
    margin-left: 4px;
    color: #888;
    font-size: x-small;
}
#taEditProfile {
    width: 100%!important;
}
#description{
	padding:5px 0px 5px 187px;
}
#description2{
	padding:5px 0px 5px 187px;
}
.edit{
	color: #727272;
	font-size: 0.85em;
}
.save{
	background-color:#48c9b0;
	color:#efefef;
	height:21px;
	width:46px;
	text-align:center; 
	border:none;
	border-radius:3px;
	box-shadow: inset 0 1px 0 #91decf;
	margin-top:2px;
}
.save:hover{  
	box-shadow: inset 0 1px 0 #91decf;
	cursor:pointer;
} 
 
#avatar_span form{
	opacity:0; 
	position:absolute;
	top:-21px;
	left:0;
	width:100px;
	
}
#avatar_span{
	position:relative;   
}

#avatar_span p{
	position:relative;
	width:145px;
	height:20px; 
	font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;    
    border-radius: 4px;  
	border:1px solid #d8d8d8; 
	color: #7b7b7b;  
} 
#forma_avatar{
	width: 235px;
    cursor: pointer;
    margin-left: -89px;
}
.reply{
	text-decoration:none;
	color: #9199a1;
}
.nested-comment{
	width: 588px;
    border: 1px solid #e6e6e6;
    min-height: 10px;
    border-radius: 3px;
    cursor: text; 
    padding: 4px; 
}
#nested-koments{
	background-color: #eff0f1;
	width:490px;
	min-height:40px;
	margin-left:150px;
	padding:5px;
	margin-top:5px;
}
#btnReplyNested{ 
	background-color:#48c9b0;
	color:#efefef;
	height:19px;
	width:43px;
	text-align:center; 
	border:none;
	border-radius:3px; 
	box-shadow: inset 0 1px 0 #91decf;
}
#btnReplyNested:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
	outline-color:#48c9b0;
}
#nested-info{
	float: right;
    width: 500px;
    height: 20px;
    text-align: right;
    font-size: 13px;
    color: #9199a1;  
}
#nested-info a{
	color: #3af;
    text-decoration: none;
}
.info, .success, .error { 
	padding:5px 0px 5px 0px;
	background-repeat: no-repeat; 
}
.info {
	color: #00529B;
	background-color: #BDE5F8; 
	text-align:center;
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF; 
	text-align:center;
} 
.error {
	color: #D8000C;
	background-color: #FFBABA; 
	text-align:center;
}

 

#tbTags{
	margin-bottom:10px;
}
.tag{
	padding: 1px 5px;
	margin-right: 10px;
}
.xmark{
	background-image:url("http://www.clipartbest.com/cliparts/ncX/ByX/ncXByXMgi.gif");
	background-size:15px;
	width:15px;
	height:15px;
	display:inline-block;
	margin: -2px;
	margin-left:5px;
}

 
.genders{
	    color: #636267;
}  
  
  
  
.greskeR2{
	font-family:Arial;
	color:#a94442;
	margin:0px auto;
	font-size:15px;
	text-align:center; 
	padding:3px;  
	display:block;
	height:100%;
	-webkit-animation: change_height 1s;
	-moz-animation: change_height 1s;
	-o-animation: change_height 1s;
	animation: change_height 1s;
}
@keyframes change_height{
	0% {
		transform: scale(1,0);
		transform-origin: 100% 0%;
		margin-top:0px;
	}
	100% {
	transform: scale(1,1); 
	}
}
 
#statistika{
	background-color:#f2f2f2;
	border-radius:5px;  
}

 
 
.tableusers table a{
	text-decoration:none;
	color: #176b18; 
} 
#xmark2 a{
	color:#a94442 !important;
	text-decoration:none;
}
#admin-nav{
	width:100%;
	height:50px;
	margin:10px auto;
	text-align:center;
}  
.admin-nav-cont{ 
	display: inline-block;
	text-align:center !important;   
	background-color:#48c9b0; 
	height:28px;
	min-width:80px; 
	border:none;
	border-radius:3px; 
	padding:10px 5px 2px 5px;
	margin-right: 10px;
} 
.admin-nav-cont a{
	text-decoration:none;
	color:#FFF;
}
.admin-nav-cont:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
    outline-color: #48c9b0;
}
.tableusers td{
	width:300px;
	color:#636267; 
} 
.tableusers table{
	border-color:#e6e6e6; 
	text-align: center;
}
.tableusers table tr:nth-child(2){ 
	color: #7b7b7b;
	background-color: #f2f2f2;
    border-radius: 5px;
}
.tableusers table tr:nth-child(1) td{ 
	color:#4F4F4B !important;
	border:none !important;
	padding:5px 0px 10px 0px;
} 
.naprednazad{
	text-decoration:none;
	color:#176b18;
}
.naprednazad:hover{
	color:#e64b21;
}
.tableusers table tr:nth-child(2) td{ 
	color:#4F4F4B !important; 
}
#xmark2{
	color:#a94442 !important;
	text-align:center;
	font-size:20px; 
}
#xmark1{ 
	text-align:center;
	font-size:30px;  
}
#xmark1 a{ 
	text-decoration:none; 
	color:#176b18 !important;
}
#admin-nav1{
	width:100%;
	min-height:50px;
	margin:10px auto;
	text-align:center; 
} 
.admin-nav-cont1 a{  
	display:block;   
	background-color:#48c9b0; 
	min-height:28px;
	width:280px; 
	border:none;
	border-radius:3px; 
	padding:14px 5px 5px 5px;
	margin: 13px auto;
} 
.admin-nav-cont1 a{
	text-decoration:none;
	color:#FFF; 
	font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: 600;
    text-transform: uppercase;
}
.admin-nav-cont1 a:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
    outline-color: #48c9b0;
} 
#sadrzaj h2{
	color:#4F4F4F;
	margin-bottom:26px;
}
#user-content{
	width:100%;
	min-height:100px;
	margin:10px auto;
	text-align:center;
	color: #4F4F4F;
}
#user-content2{
	color: #4F4F4F !important; 
	margin:0px auto;
	width:100%;
	min-height:300px;
}
#taEditEmail {
    width:100% !important;
	height:20px;
} 
#user-content2 table{ 
	margin:0px auto;
	text-align:left;
	border: none;
}
#user-content2 table td{ 
	width:120px;
	padding:5px;
}
.save2{
	background-color:#48c9b0;
	color:#efefef;
	height:35px;
	width:100%;
	text-align:center; 
	border:none;
	border-radius:3px;
	box-shadow: inset 0 1px 0 #91decf;
	margin-top:2px;
}
.save2:hover{  
	box-shadow: inset 0 1px 0 #91decf;
	cursor:pointer;
} 
.save22{  
	padding: 0px;
    border: none;
} 
.tableposts table td:nth-child(2){
	width:52% !important;
}  
.tableposts table td:nth-child(5){
	width:20% !important;
} 
.tableposts table td{  
	padding:5px;
}
.posts-content table td:nth-child(2){  
	width:100% !important;
}
.form-control{
	width:100% !important;
	height:100% !important;
}
#taEditDesc{
	min-height:60px !important;
}
.tableposts2 table td:nth-child(3){
	width:52% !important;
	
}  
.posts-content22 {
	margin:60px auto !important;
}  
.unicorn{
	background-color:#F5F5F5;
}  
/* Galerija slika */
#galerija{
	width:100%; 
	margin:20px auto;
}
.img2{   
	float:left;
	text-align:center; 
	margin: 40px 18px 0px 0px;
    padding: 0 30px 0 50px;
    border: 1px solid #cbcbcb;
}
.img2 img{
	display:inline; 
	width:100px;
	height:100px;  
	border: 2px solid #CCC;
    padding: 2px;
    margin: 10px 20px 10px 0;
    vertical-align: top;
}
.img2 img:hover{
	border-color:#4F4F4F;
}
.desc2{
	text-align:center;
	font-weight:normal;
	width:120px; 
}

#autor{
	height:600px;
	width:735px;
	margin:0px auto; 
}
#naslov i{ 
	color:#4F4F4F; 
}
#naslov{
	height:30px;
	width:735px;
	text-align:center;
	text-weight:bold;
	color:#7b7b7b;
	font-size:25px;
	padding-top:20px;
	border-bottom: 1px dotted #7b7b7b;
}
#slika img{
	width:250px;
	height:290px;
	border:3px solid #4F4F4F;
}
#slika{
	height:290px;
	width:250px;
	float:left;
	padding-top:10px;
}
#ukratko{
	height:300px;
	width:450px;
	float:left; 
	padding:30px 10px 0px 20px
}
#ukratko p{
	color:#7b7b7b;
	font-family:Arial;
	font-size:19px;
	text-align:left;
}
#ukratko a{
	text-decoration:none;
	color:#7b7b7b;
}
#ukratko a:hover{
	color:#4F4F4F;
}




#table{
	margin:10px auto; 
	width:620px; 
	height:560px;  
	color:#ccc;  
}
#table td{
	padding:0px 30px 0px 10px;
	padding-bottom: 2px; 
    font-size: 13px;  
	font-family: Open Sans, Arial, Helvetica, sans-serif;
}
#table h2{
	color:#4F4F4F;
}
#table textarea:focus, #table input:focus{
    outline: none;
}
#table textarea, #table input{
	font-family:Arial, Helvetica, sans-serif;
	border: none;
	border-bottom:1px solid #7b7b7b;
	
}
#table textarea{
	width:100% !important; 
}
#table input{
	height:30px; 
}

#table .tbps{
	width:186px !important; 
}
.button11{
	width:50% !important;
	border-bottom:none !important;
	
}
.button1{ 
	border-bottom:none !important; 
	height:20px;
	width:40px;
	margin-top:2px;
	color:#7b7b7b;
	
}


#table h3 {
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;  
	color:#7b7b7b !important;
}
#table #tbYSubject{
	width:100% !important; 
}
.greskeR{
	color:#a94442 !important;
}
.crvenoo{
	border-color:#a94442  !important; 
}
#kategorije a{
	text-decoration:none; 
	color: #95a5a6;
	font-size: 1.025em;
	padding: 0px 0px 0px 5px;
}
#kategorije ul{
	list-style:none;
}
#kategorije li{  
    display: block;
	padding: 5px 10px 5px 10px;
}
#kategorije1 p{  
   border-bottom: 1px solid #e6e6e6;
    margin: 15px 0px 10px 0px;
    padding-bottom: 5px;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #636267;
}
#statistika2{  
	color:#7b7b7b;
	padding:10px;
	text-align:center;
}
#statistika2 div:nth-child(1){  
	border-bottom: 1px solid #e6e6e6;
	color:#4F4F4F;
	margin-bottom:10px;
}
.rbpoll{  
	text-align:left !important;
	padding-left:35px;
}
#statistika2 #submit_poll{
	margin-top:8px;
	background-color:#48c9b0;
	color:#efefef;
	height: 17px;
    width: 42px;
	text-align:center; 
	border:none;
	border-radius:3px;
	box-shadow: inset 0 1px 0 #91decf;
}
#statistika2 #submit_poll:hover{
	background-color:#e64b21;
	box-shadow: inset 0 1px 0 #f09379;
	outline-color:#48c9b0;
}